/*
	Put your custom CSS here.

	You may find these CSS3 properties useful:;
		transition
		-webkit-transform
		-webkit-transform-style
		-webkit-backface-visibility
*/
.front, .back {
	transition: -webkit-transform .5s ease-out;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-webkit-box-shadow: 0 0 15px #aaaaaa;
	border: solid 1px #aaa;
	cursor: pointer;
}

.front {
	position: absolute;
}

.back {
	-webkit-transform: rotateY(-540deg);
}

.portfolio-item {
	-webkit-perspective: 900px;
}

div.portfolio-item  {
	-webkit-backface-visibility: hidden;
	transform: rotateY(0deg); 
}

.portfolio-item:hover .back {
	transform: rotateY(0deg);
}
.portfolio-item:hover .front {
	transform: rotateY(540deg);
}









