/*
	Put your custom CSS here.

	You may find these CSS3 properties useful:;
		transition
		-webkit-transform
		-webkit-transform-style
		-webkit-backface-visibility
*/
.front, .back {
	transition: -webkit-transform 1s;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
}

.front {
	position: absolute;
}

.back {
	-webkit-transform: rotateY(-180deg);
}

.portfolio-item {
	-webkit-perspective: 600px;
}

div.portfolio-item  {
	-webkit-backface-visibility: hidden;
	transform: rotateY(0deg); 
}

.portfolio-item {
	position: relative;
}

.portfolio-item:hover .back {
	transform: rotateY(0deg);
}
.portfolio-item:hover .front {
	transform: rotateY(180deg);
}









